$mobile: 1160px;

@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content
  }
}



.Business_wrapper {
padding-top: 140px;
padding-bottom: 50px;
@include mobile {
  padding-top: 90px;

}
  h1 {
    font-size: 50px;
    line-height: 1;
    padding-bottom: 30px;
    @include mobile {
      padding-bottom: 10px;
      font-size: 36px;
    }
  }
  .modal_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
}

.link{
  padding-top: 20px;

  img {
    width: 17px;
    position: relative;
    top: 1px;
    margin-right: 10px;
  }
  a {
    font-size: 18px;
    font-weight: 600;
    color: #fb5f3d;
  }
}
.btn_back{
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 180px;
  font-size: 15px;
  color: #3662ff;
  font-weight: 600;
  background-color: #f2f7ff;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  @include mobile {
    width:90%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;

    margin-bottom: 30px;
  }
}
.btn_back:hover{
  background-color: #e4edfa;
 }