$mobile: 1160px;
@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content
  }
}

.line{
  padding-top: 30px;
  
  border-bottom: 1px solid #e4e4e5;
 
}
.imgtitle {
  img {
    padding-top: 50px;
    width: 100%;
    height: 500px;
    object-fit: cover;
  overflow: hidden;
  @include mobile {
display: none;

  }
  }

}
.textcontainer{
  .publisher{
    padding-top: 30px;
    padding-bottom: 5px;
    color:#fb5f3d;
    font-size: 17px;
  }
  .newstitle {
    font-size: 22px;
    width: 100%;
    line-height: 1.1;
    @include mobile {
      font-size: 12px;
        }
  }
  .source{
    padding-top: 20px;
    padding-bottom: 40px;
  }
 
}
.btnback{
  cursor: pointer;
  color: #234cdf;
  background-color: #e4ecf7;
  margin-bottom: 60px;
  margin-left: 10px;
 border-radius: 10px;
 font-weight: 600;
 font-size: 15px;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 8px;
}
.btnback:hover{
  background-color: #cfdef1;
}
.real_wrapper{
  @include mobile {
    margin-top: -40px;
  }
  .exactText{
    font-size: 18px;
    @include mobile {
      font-size: 16px;
  }
}
}