.Footer_wrapper{
  width: 100%;
  height: 390px;
  background-color: #f2f7ff;
  padding-top: 50px;
 .Footer {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 1160px;
  .Footer_down{
    border-bottom: 1px solid #e4e4e5;
    padding-top: 130px;  
    
  }
  .footertext{
    padding-top: 20px;
    color: #83878f;
    
  }
  .Footer_up{
    height: 200px;
    display: flex;
    justify-content: space-between;
    .soc{
      width: 450px;
      
    }
    .center{
      width: 340px;
      img {
        width: 320px;
        margin-bottom: 20px;
      }
    }
    .end{
      text-align: end;
      .hotline {
        font-size: 18px;
      }
      .number {
       font-size: 18px;
       span{
         a{
          font-size: 30px;
          color: #fb5f3d;
         }
      
       }
     }
    }
    h1 {
      margin-top: 0px;
      line-height: 1.2;
    }
    p {
      font-size: 18px;
    }

    span {
      display: inline-block;
      margin-top: 2px;
      padding-top: 4px;
      padding-bottom: 3px;
      padding-left: 5px;
      font-size: 15px;
      color: white;
     }
    .social_modal{
      display: flex;
      padding-bottom: 10px;
      padding-top: 25px;
    }
    .soc_wrapper{
      padding-top: 2px;
      height: 50px;
      border-radius: 3px;
      margin-right: 5px;

       
      .vk{
        padding-right: 5px;
        padding-left: 2px;
        border-right: 1px solid #6b99ce;  
        img {
           margin-top: 4px;
          margin-left: 5px;
          width: 40px; 
         }
      }
      .counter{
       span {
         padding-top: 7px;
         font-size: 20px;
       }
       padding-right: 10px;
       }
    }
    .odnoklasniki_wrapper {
      background-color: #eb722e;
      .counter{
        padding-right: 10px;
        }
      .odnoklasniki{
        border-right: 1px solid #ec9c71;
        img {
          margin-top: 6px;
          margin-left: 7px;
          margin-right: 5px;
          padding-left: 2px;
          width: 35px;
          padding-right: 3px;
        }
        span {
          padding-top: 9px;
          font-size: 17px;
        }    
    }
  } 
    .fc:hover {
      background-color: #4b649b;
    }
    .vk_wrapper {
      background-color: #4478b3;
      border-radius: 1px;
      cursor: pointer;
    }
    .vk_wrapper:hover {
      background-color: #5484bb;
    }
    .odnoklasniki_wrapper:hover {
      background-color: #e78d59;
      cursor: pointer;
      border-radius: 1px;
    }
    .fc {
      background-color: #3b5998;
      margin-right: 5px;
      border-radius: 2px;
      width: 50px;
      height: 52px;
      cursor: pointer;
      img {  
      padding-left: 4px;
      padding-top: 7px;
      position: relative;
      bottom: 3px;
      width: 40px;
      }
    }
  }

 }
 
}