.news_wrapper {
  padding-bottom: 160px;
  h1 {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 15px;
  }

  .news_wrapp{
    display: flex;
    justify-content: space-between;
    .pic{
      position: relative;
      width: 75%;
      height: 500px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 10px;
    }
    img {
      border-radius: 10px;
      height: 500px;
      transform: scale(1);
      transition: transform .4s;
   
      cursor: pointer;
      position: relative;
    }
    img:hover {
   
      transform: scale(1.2);
    }
    .news_title {
      position: absolute;
      padding-left: 40px;
      bottom: 40px;
      width: 80%;
      font-size: 30px;
      font-weight: 600;
      color: white;
    }
    .right_news{
      margin-left: 80px;
  

      padding-bottom: 10px;
      padding-top: 10px;
      border-bottom: 1px solid #e4e4e5;
      width: 85%;
      .righttitle{
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
      }
    }
  }
}