.oper_wrapper{
  padding-top: 190px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e4e4e5;
  .title_download {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  .bigwords{
    width: 500px;
    font-size: 80px;
    font-weight: 900;
    line-height: 1.05;
    color: #003188;
  }
  .otchet{
    margin-top: 30px;
    width: 370px;
    height: 160px;
    border-radius: 5px;
    
    box-shadow: 0 0 8px rgba(0,0,0,0.34);
    display: flex;
    
    img {
      padding-top: 16px;
      padding-left: 16px;
      border-radius: 5px;
     
      width: 140px;
    }
    a{ 
      text-decoration: none;
      
      .text {
        display: inline-block;
        padding-top: 10px;
        line-height: 1.3;
        text-decoration: none;
        color: black;
        font-size: 14px;
        margin: 0px;
        
        
      }
      .size {
        color: #8396be;
        width: 100%;
      }
      span{
        
        color: #fb5f3d;
      }
      img {
        position: relative;
        top: 2px;
        right: 10px;
        width: 15px;
      }
    }
  }
  .stat_wrapper{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .stat{
      
      font-size: 50px;
      font-weight: 900;
      line-height: 1.05;
      color: #003188;
      padding-bottom: 10px;
    }
  }
  .more_date{
    display: flex;
    margin-top: 50px;
    font-size: 18px;
    
    color: #063e66;
    img {
      margin-bottom: 5px;
      padding-right: 10px;
    }
  }
 
}