$mobile: 1160px;

@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content
  }
}


.AboutCorona_wrapper{
  padding-top: 140px;
  @include mobile {
    padding-top: 90px;
  }
  h1 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;

    @include mobile {
      font-size: 30px;
    }
  }
}