$mobile: 1160px;
@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content
  }
}

.MENU {
  display: none;
  position: relative;
  align-items: center;
  div {
    text-align: center;
  
    display: block;
    font-size: 25px;
    position: relative;

     transform: rotate(90deg);
  }
  .up {
 
    transform: rotate(45deg) translate(-2px);
    top: 37px;
   
  }
  .down {
    transform: rotate(135deg) translate(1px) ;
    bottom: 37px;
  }

.up-active-enter {
  top:28px;
  transform: rotate(90deg);
}
.up-active-enter-active {
  top:36px;
 
 
  transition: top 500ms;
}
.up-active-enter-done {
  transform: rotate(45deg);
  transition: transform 500ms;
  top:36px;

}
.up-active-exit {
  top:36px;
  transform: rotate(45deg);
  transition: top 500ms;
}
.up-active-exit-active {
  transform: rotate(90deg);
  top:36px;
  transition: transform 500ms;

}
.up-active-exit-done {
  
  transition: top 500ms;
  top:28px;
}


.down-active-enter {
  bottom:28px;
  transform: rotate(90deg);
}
.down-active-enter-active {
bottom:36px;
  transition: transform 500ms ease 1500ms;
  transition: bottom 500ms;
}
.down-active-enter-done {
  transition: transform 500ms;
  transform: rotate(135deg);
bottom:36px;
}

.down-active-exit {
  transform: rotate(135deg);
  transition: bottom 500ms;
 bottom:36px;

}
.down-active-exit-active {
  transform: rotate(90deg);
  transition: transform 500ms;
bottom:36px;


}
.down-active-exit-done {
  transform: rotate(90deg);
  bottom:28px;

  transition: bottom 500ms;

}



  .center {
    transform: rotate(90deg);
    transition-property: opacity;
    transition-delay: 280ms;
    opacity: 0;
   
  }
  .center-active {
  
    opacity: 0;
  }


  @include mobile {
   display: block;
 }
}