$mobile: 1160px;
@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content
  }
}

.MENU {
  display: none;
  position: relative;
  align-items: center;
  margin-left: 5px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  div {
   
    width: 24px;
    height: 0.15em;
    background-color: #003188;
    display: block;
 
    position: absolute;
    transition: top 500ms ease 0s, transform 500ms ease 500ms;
  
  
  }
  .up {
 
   top: 18px;
   
  }
  .down {
    top:32px;

  }
  .center {
    top:25px;
    transition: opacity 100ms ease 500ms;
  }

  .inFirst{
    top:25px;
    transform: rotate(45deg);
  }

  .outFirst{
    top: 18px;
    transform: rotate(0deg);
    transition: top 500ms ease 500ms, transform 500ms ease 0s;
  }

  .incenter{
    opacity: 0;
  }
  .inSecond{
    top:25px; 
    transform: rotate(-45deg);
  }
  .outSecond{
    top:32px;
    transform: rotate(0deg);
    transition: top 500ms ease 500ms, transform 500ms ease 0s;
  }


  @include mobile {
   display: block;
 }
}

