$mobile: 1160px;
@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content
  }
}



.header_wrapper_wrap {
  opacity: 0;
  width:100%;
  margin-left: 0px;
  left: 0;
  background-color: white;
  height: 145px;
  position:fixed;
  z-index: 21321;
  @include mobile {
    height: 80px;
  }

.centrolize{
  margin-left:auto;
  margin-right: auto;
  width: 1160px;
  padding-right: 5px;
  @include mobile {
    width: 90%;
  }
}
  .header_wrapper {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid #e4e4e5;
    padding-top: 5px;
    padding-bottom: 5px;
  
    
    .logotip {
      width: 300px;
      @include mobile {
        margin-top: 12px;
        margin-right: 12px;
        width: 220px;
      }
      
    }
    .movile-gov{
      display: none;
      @include mobile {
        display: block;
      }
    }
   

   
  

 
    
    .right_secsion{
      display: flex;
   
      .socseti{
        margin-top: 8px;
        display: flex;
        align-items: center;
        margin-right: 30px;
        @include mobile {
          display: none;
        }
        .social {
          margin-right: 13px;
         
        }
        .odnokashniki{
          width: 14px;
        }
        .facebook {
          width: 12px;
        }
        .instagram{
          width: 24px;
       
        }
      }
  
      .gov {
        border-right: 1px solid #5878b1;
        padding: 0 10px 0 0;
        margin: 0 10px 0 0;
        @include mobile {
          display: none;
        }
      }
      .oficcial{
        padding-top: 5px;
        font-size: 14px;
        width: 180px;
        color:#5878b1;
        @include mobile {
          display: none;
        }
      }
     
    }
  }
  
 
}

.showheader {
  transition-duration: 500ms;

  transition-property: opacity;
  opacity: 1;
}

@media screen and (max-width: 1160px) {  
  .left_secsion {
    display: flex;
   }
  .movile-gov{
    .img_gov {
      margin-top: 0px;
    }
     border-right: 0px solid #5878b1;
     padding-left: 10px;
     border-left: 1px solid #5878b1;
   }
}