
$mobile: 1160px;


@mixin desktop {
  @media screen and (min-width: #{$mobile}) {
    @content
  }
}

.scrollMenu {
  margin-top: -440px;
  position: fixed;
  z-index: 3;
  background-color: white;
  left: 0;
  width:100%;
  transition-property: margin-top;
  transition-duration: 500ms;

 @include desktop {
display: none;
 }
  
.hotline{
  color: #fb5f3d ;
  margin-top: 20px;

  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

  i{
    border: solid #416bff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    margin-bottom: 2px;
    margin-left: 2px;
 
   }
}

.scroll{
  margin-top: 80px;


}
.blocks{
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f2f7ff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  max-height: 22px;
  transition-property: max-height;
  transition-duration: 300ms;
  text-align: center;
  overflow: hidden;
  object-fit: cover;
 
  span {
    color: #416bff;
    width: 100%;
  }
  .podsos{

    padding-top: 5px;
    padding-bottom: 5px;
  }



}
.hided {
  max-height: 530px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
}
.Number{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
     min-width: 115px;
     max-width: 130px;
  cursor: pointer;
  color:#fb5f3d;
  font-weight: 600;

  padding: 8px 16px 10px 16px;
}
.socseti{
justify-content: space-between;
display: none;

.scroll {
  .socseti{
    display: block;
  }
}
@media screen and (max-width: 1160px) {
a {
  margin-right: 9px;
}
}
}
