.under-header {
   
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 60px;

  .left_flang {
    display: flex;
   
    .statistika {
      cursor: pointer;
      margin-right: 25px;
      font-size: 16px;
      font-family: sans-serif;
      font-weight: 400;
      padding-top: 26px;
      padding-bottom: 28px;
      position: relative;
      .hiddenstat{
        padding-top: 14px;
        padding-bottom: 10px;
        position: absolute;
        margin-top: 20px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 2px rgba(0,0,0,0.34);
        width: 220px;
        color: black;
        padding-left: 15px;
        display: none;
        
        .scrolltext{
          padding-bottom: 8px;
        }
        .scrolltext:hover {
          color:#fb5f3d;
         
        }
      
      }
      .simptom {
      right: -80px;
      }
      .more {
        right: -90px;
      }
      .active {
        display: block;
      }
      

      .hiddenstat:before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: 100%;
        left: 1.5em; // offset should move with padding of parent
        border: .75rem solid transparent;
        border-top: none;
      
        // looks
        border-bottom-color: #fff;
        filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .2));
      }
      .simptom:before {
        left: 6em;
      }
      .more:before {
        left: 6em;
      }
      i{
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
        margin-bottom: 2px;
        margin-left: 2px;
       }
       
    }
  
   .statistika:hover {
     color:#fb5f3d;
    
      }
   .statistika:hover i {
        border: solid #fb5f3d;
        border-width: 0 2px 2px 0;
     
    }
 
  }
  .right_flang {
    display: flex;
   
    .hotline{
     
      font-weight: 600;
      color:#fb5f3d;
      margin-right: 12px;
      padding-top: 8px;
    }
    .number{
      
      cursor: pointer;
      color:#fb5f3d;
      font-weight: 600;
      border-radius: 10px;
      background-color: #fff0ed;
      padding: 8px 16px 10px 16px;
    }
    .number:hover{
      background-color: #ffe2db;
     
    }
    
  }
}
@media screen and (max-width: 1160px) {
  .under-header {
    display: none;
  }
}