.modalOverlay{
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999999999;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width:100%;
  height: 100%;
 
}
.text_easy{
  display: flex;
  align-items:center;
  min-height:100vh;
  .modalwindow-map{
    position:relative;
    margin:30px auto;
    position:relative;
    background-color: white; 
    width: 1160px;
    border-radius: 10px;
  }

  .modalwindow {
    position:relative;
    
    margin:30px auto;
    position:relative;
    background-color: white; 
    width: 700px;
    
    
    .social_modal{

      display: flex;
      height: 35px;
      margin-left: 10px;
      padding-bottom: 10px;
      padding-top: 25px;

      img {
        object-fit: cover;
        overflow: hidden;
        cursor: pointer;
      }
      .vk_wrapper {
        background-color: #4478b3;
      }

      .vk_wrapper:hover {
        background-color: #5484bb;
      }  
      .odnoklasniki_wrapper:hover {
        background-color: #e78d59;
      }
  
      .fc:hover {
      background-color: #4b649b;
      }
      .twitter_wrapper:hover{
        background-color: #3fbfee;
      }
      .vk_number_block{
      border-left: 1px solid #6b99ce;  
      }

      span {
       display: inline-block;
       margin-top: 2px;
       padding-top: 4px;
       padding-bottom: 3px;
       padding-left: 5px;
       font-size: 15px;
       color: white;
      }
      .soc_wrapper{
        padding-top: 2px;
        height: 37px;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 5px;
        .vk{
          padding-right: 5px;
          img {
             margin-top: 8px;
            margin-left: 5px;
            width: 25px;
           height: 50%;
           }
        }
        .counter{
         padding-right: 10px;
         }
      }
        
      .fc {
        background-color: #3b5998;
        margin-right: 5px;
        border-radius: 2px;
        width: 36px;
        height: 39px;
        img {  
          padding-left: 5px;
        padding-top: 7px;
        position: relative;
        bottom: 2px;
       
        width: 26px;
        }
      }
    .twitter_wrapper{
      background-color: #00aced;
      .twitter{
        img {
           margin-top: 4px;
            margin-left: 5px;
            margin-right: 5px;
            width: 25px;
        }
      }
    }
      .odnoklasniki_wrapper {
        background-color: #eb722e;
        .counter{
          padding-right: 10px;
          }
        .odnoklasniki{
          img {
            margin-top: 4px;
            margin-left: 5px;
            margin-right: 5px;
            width: 25px;
          }
          span {
            border-left: 1px solid #ec9c71;
          }    
      }    
      }
     
    }
   
  .modal_text{
    padding: 1px 30px 30px 40px;
    font-size: 18px;
    h1{
      font-size: 35px;
      line-height: 1.2;
    }
 
      a{
        cursor: pointer;
      color: #fb5f3d;
      }
    ul {
     padding: 0;
     margin: 0;
     li {
       margin-left:20px;
     }
    }
  
  }
  
}

  
}

.modalOverlay::-webkit-scrollbar {

  width:10px
}
.modamodalOverlaylwindow::-webkit-scrollbar-track:hover{
  background-color:#babac0;
    border-radius:16px;
    border:5px solid #fff
}
.modalOverlay::-webkit-scrollbar-thumb {
  background-color:#babac0;
    border-radius:16px;
 
}
.clsbtn-hide{
  display: none;
  }
  
.clsbtn{
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
 img {
   margin-top: 25px;
   margin-right: 25px;
   width: 30px;
 }

}
