.wrapper {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  
}
@media screen and (max-width: 1160px) {
  .wrapper {
 
    width: 100%;
  }
}

body {
  font-family: sans-serif;
  line-height: 1.5;

}
a {
  text-decoration: none;
  color: black;
}
.Fadein_wrapper {
  padding-top: 150px;
  opacity: 0;
 
  padding-bottom: 50px;
}
.show {
  transition-duration: 500ms;
  transition-delay: 200ms;
  transition-property: opacity;
  opacity: 1;
}